%h1 Update Movie

= form_tag updateMovies_movies_path, :method => :put do

  = label :movie, :title, 'Existing Title'
  = text_field :movie, 'name'

  = label :movie, :title, 'New Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = text_field :movie, :rating

  = label :movie, :release_date, 'Released On'
  = text_field :movie, :release_date

  = submit_tag 'Save Changes'